apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-backend-service
  namespace: {{ namespace }}
spec:
  selector:
    app: {{ app_name }}-backend
  ports:
  - port: 3000
    targetPort: 3000
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-frontend-service
  namespace: {{ namespace }}
spec:
  selector:
    app: {{ app_name }}-frontend
  ports:
  - port: 80
    targetPort: 80
  type: ClusterIP
